%html
  %head
    %title Resturant
    %script( src= "/js/jquery.js" )
    %script( src= "/js/app.js" )
  %body
    %h1
      %a{ href: "/" } Resturant

      / flash messages to print appropriate div
      - if flash[:notice]
        .flash.notice=flash[:notice]
      - if flash[:alert]
        .flash.alert=flash[:alert]

      =yield
