%h2 New Order
%form(action= "/orders" method= "post")
  %p
    %input( type= "text" name= "order[client]" Placeholder= "What is the client's name" )
  %ul
    - @dishes.each do |dish|
      %li
        %input{ type: "checkbox", name: "dishes[]", value: dish[:id] }
        = dish[:name]
        (#{dish[:category]})
        &mdash;
        = dish[:price]
  %p
    %input( type= "submit" value= "Place Order" )
